.sectionBook {
  width: 350px;
  margin: 30px auto 0;
}

.title {
  color: #000000;
  text-align: center;
  margin-bottom: 15px;
}

.titleContacts {
  color: #000000;
  text-align: center;
  margin-bottom: 15px;
}